.Location{
    padding-left: 20%;
    text-align: left;
    color: white;
}

.Location input{
    width: 20%;
    margin-left: 5px;
    border: 0px;
    border-radius: 2px;
}
.Location button{
    margin-left: 5px;
    border: 1px;
    border-radius: 2px;
    background: rgb(252, 83, 83)
}
.currentLocation{
    display: inline;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}