.draw-weather{
    border: 1px solid rgb(58, 51, 51);
    box-sizing: border-box;
    margin-top: 20px;
    background: rgb(85, 204, 212)
}
.draw-weather h2{
    text-transform: uppercase;
}
.draw-weather p{
    text-align: left;
    font-size: 18px;
    padding-left: 20%;
}