.city-input{
  text-transform: uppercase;
  padding: 7px 0 7px 0;
  text-align: left;
  color: white;
}
.city-input input{
  width: 200px;
  height: 20px;
  margin-left: 5px;
  border: 0px;
  border-radius: 2px;
}
.city-input button{
  height: 22px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: 0.5px solid white;
  padding: 2px 10px;
  margin-left: 5px;
  border-radius: 2.5px;
}
.city-input button:hover{
  color: black;
  background: white;
}
@media screen and (max-width: 355px){
  .city-input input{
    width: 100%;
    margin: 5px 0px;
  }
  .city-input button{
    width: 100%;
    margin: 0;
  }
}