.city-input{
  padding: 7px 0 7px 20%;
  text-align: left;
  color: white;
}
.city-input input{
  width: 20%;
  margin-left: 5px;
  border: 0px;
  border-radius: 2px;
}
.city-input button{
  margin-left: 5px;
  border: 1px;
  border-radius: 2px;
  background: rgb(73, 212, 45)
}